html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  font-family: Montserrat;
}

.profile-img {
  border-radius: 100%;
  height:400px;
  width:400px;
}

#navigation-bar a {
  color: black;
}


.title-container {
  padding: 170px 10% 0;
}

.color-banner {
  height: 340px;
  width: 100%;
  background-image: linear-gradient(to left,#0091ff,#44d7b6);
}

.contact-banner {
  height: 350px;
  width: 100%;
  background-image: linear-gradient(to left,#0091ff,#44d7b6);
  font-size: 40px;
  color: white;
}

.contact-banner i{
  font-size: 60px;
  padding: 40px;
}

.contact-banner a{
  color: white;
  font-size: 1.5rem;
}

.primary-btn {
  color: #44d7b6;
  border-color: #44d7b6;
}

.primary-btn:hover {
  color: white;
  background-color: #44d7b6;
}

.secondary-btn {
  color: white;
  border-color: #44d7b6;
  background-color: #44d7b6;
}

.secondary-btn:hover {
  color: #44d7b6;
  background-color: white;
}

.trait-container {
  padding: 3% 10% 7%;
}

#title h1 {
  padding-top: 3%;
  font-size: 3rem;
  font-weight: bold;
}

.small-hr {
  width: 10%;
  border-color: black;
  border-width: 3px;
}



.about-icon {
  font-size: 3rem;
}

.navbar {
  padding: 0 auto 4.5rem;
}

.nav-item {
  padding: 0 auto;
}

.navbar-brand {
  padding-left: 20px;
}

.nav-link {
  font-size: 1.2rem
  font-weight: lighter;
}

#about h2 {
  padding-bottom: 30px;
}


@media (min-width: 1020px;){
  .technical-trait-row {
    padding-bottom: 50px;
  }
}

.personal-trait-row {
  padding-bottom: 25px;
}

.trait-box {
  padding-bottom: 50px;
}

.trait-box hr {
  width: 80%;
}


.trait-icon {
  font-size: 50px;
  color: #44d7b6;
}

.trait-icon:hover {
  color: #0091ff;
}

.trait-name {
  padding-top: 30px;
}

#footer {
  margin-bottom: 0;
}

#footer .row {
  color: white;
  padding: 20px;
  font-size: 20px;
  margin: 0 auto;
}

#footer a{
  color:white;
}
.copyright-message {
  margin-bottom: 0;
}

.links {
  position: absolute;
  right:20px;
}

.links a {
  padding: 0 10px;
}

.date-attended, .grade, .role {
  display: inline;
  padding: 10px;
}

.date-attended {
  padding-left: 0;
}

.heading-row {
  justify-content: center;
  padding: 5%;
}

.heading-row h1 {
  font-weight: bold;
}


#education {
  padding-top: 60px;
  text-align: left;
}

.colored-section {
  background-color: #f9f9f9;
}

.school-container {
  padding: 20px 0;
}
.education-container {
  justify-content: center;
}

.info-col {
  padding: 10px 0;
}

.module-col ul{
  padding-left: 20px;
}

.center {
  justify-content: center;
}

#technologies {
  padding: 3%;
}
.technology-row {
  padding: 1% 0;
}

.technology-row {
  font-weight: 500;
  font-style: italic;
  font-family: Ubuntu;
  color: #8c8d8f;
}

.technology-row i {
  color:#44d7b6;
  font-size: 2rem;
}

.technology-row img {
  color:#44d7b6;
}

.technology-row i:hover {
  color: #0091ff;
}

.title-col {
  padding-bottom: 3%;
}

.break-container{
  width: 100%;
  height: 2%;
  background-color: black;
  z-index: 10;
}

.technology-content{
  font-weight: 500;
  font-style: italic;
  font-family: Ubuntu;
  color: #8c8d8f;
}

.carousel-inner img {
  margin: auto;
}

#about p{
    font-weight: 500;
    font-style: italic;
    font-family: Ubuntu;
    color: #8c8d8f;
}

.employment {
  padding: 2% 0;

}

.section-break {
  width: 70%;
}
