body {
  text-align: center;
  font-family: Montserrat;
}

.profile-img {
  border-radius: 100%;
}


.title-container {
  padding: 15% 10%;
}

.trait-container {
  padding: 10% 10% 7%;
}

#title h1 {
  padding-top: 3%;
  font-size: 3rem;
  font-weight: bold;
}

#footer p {
  color: white;
  margin-bottom: 0;
}


.about-icon {
  font-size: 3rem;
}

.navbar {
  padding: 0 auto 4.5rem;
}

.nav-item {
  padding: 0 auto;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

@media (min-width: 1020px) {
  .technical-trait-row {
    padding-bottom: 50px;
  }
}

.personal-trait-row {
  padding-bottom: 25px;
}

.trait-box {
  padding-bottom: 50px;
}


.trait-icon {
  font-size: 50px;
  color: #44d7b6;
}

.trait-icon:hover {
  color: #0091ff;
}

.trait-name {
  padding-top: 30px;
}


.social-container {
  padding: 5% 5% 3.5%;
}
.links-row {
  justify-content: center;
  color: white;

}

.link {
  padding: 0 10px;
  font-size: 20px;
}

.link-icon {

}

.copyright-message {
  padding-bottom: 25px;
}
